body {
    width: 100%;
    background-color: #232323;
    color: #bbb4aa;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-size: 24px;
    margin: 20% 0;
}

.navbar {
    background-color: #232323;
    box-shadow: 0px 0px 5px #0f1316;
}

.network-summary {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.summary-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#user-image {
    border-radius: 50%; /* Makes the image circular */
}

.network-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.network-card {
    align-items: center;
    background-color: #232323;
    border: 1px solid #444;
    width: 15%;
    height: auto;
    padding: 20px 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: transform 1s;
}

    .network-card:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .network-card img {
        border-radius: 100%;
        width: 40%;
        padding: 20px 5px;
    }

h2 {
    font-size: 20px;
}

.button-section {
    padding: 10px;
}

.btn.btn-primary, .btn  {
    background: transparent;
    border: 1px solid #bbb4aa;
    border-radius: 40px;
    font-size: 10px;
    padding: 2%;
    margin-bottom: 6%;
    color: #bbb4aa;
    width: 100px;
}

.button.btn.btn-primary {
    text-align: center;
    justify-content: center;
}

.btn:hover, .btn-unfollow:hover {
    background: #bbb4aa;
    color: #232323;
    border-color: #bbb4aa;
}

#custom-modal #modal-dialog {
    max-width: 500px;
    margin: 10% auto;
    transition: transform 0.3s ease-in-out;
}

#custom-content {
    background-color: #232323;
    color: #bbb4aa;
    font-family: 'Abel', sans-serif;
    border-radius: 15px;
    padding: 20px;
}

#custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#custom-close {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#custom-close:hover {
   color: #ff4b5c;
}

.btn-close{
    filter: invert(1);
}

#custom-body {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #bbb4aa;
    background-color: transparent;
}

#custom-card, .modal-body .card {
    background-color: #232323;
    border: none; 
    outline: none;
    box-shadow: none;
}

/*after moving the div to the modal*/
.following-item, .request-item{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #2c2c2c;
    padding: 10px 20px;
    margin: 5px 20px;
    border-radius: 10px;
    border: 1px solid #444;
}

.following-pic, .request-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.following-username, .request-username{
    font-size: 18px;
    flex-grow: 1;
}

.btn-unfollow {
    background-color: transparent;
    border: 1px solid #bbb4aa;
    padding: 8px 18px;
    color: #bbb4aa;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 100%;
}

.following-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


#following-btn:hover {
    cursor: pointer;
}

#follower-btn:hover{
    cursor: pointer;
}

#request-btn:hover{
    cursor: pointer; 
}

.no-followers-text {
    text-align: center;
    color: #bbb4aa;
    font-size: 18px;
    margin-top: 20px;
}

/*accept button*/
 .btn-accept, .btn-reject{
    background: none;
    border: 2px solid transparent;
    border-radius: 50%; 
    padding: 5px;
    cursor: pointer;
}
.btn-accept {
    border-color: green;
    margin: 2%;
    transform: scale(1);
    transition: transform 0.3s;
}
.btn-reject {
    border-color: red;
    transform: scale(1);
    transition: transform 0.3s;
}

.btn-accept:hover {
    transform: scale(1.2);
}
.btn-reject:hover {
    transform: scale(1.2);
}



